@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	font-family: "Montserrat", sans-serif;
}

/* ==========
	Header 
  ==========
*/

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem 3rem 2rem;
}

.branding {
	display: flex;
	width: 10rem;
	position: relative;
	left: -20px;
}

#logo {
	width: 3rem;
	top: 10px;
	left: 15px;
	position: relative;
}

#brand {
	width: 7rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 1rem 0 0 0;
}

li {
	display: inline;
	margin-left: 4rem;
	cursor: pointer;
	font-weight: 600;
	border-bottom: 4px solid transparent;
	transition: 0.25s;
	font-size: 1.2rem;
}

li:hover,
.active {
	border-bottom: 4px solid black;
}

/* ==========
	 Home 
  ==========
*/

.main {
	display: flex;
	width: 100%;
	margin-top: 2rem;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.home-sample {
	object-fit: cover;
	width: 20rem;
	border-radius: 20px;
	height: 25rem;
	margin: 0px 2rem 0 2rem;
	box-shadow: 0px 18px 23px 4px rgba(0, 0, 0, 0.16);
	transition: 0.5s;
}

.home-sample:hover {
	transform: scale(1.05);
}

.text-container {
	margin: 0 2rem 0 2rem;
	width: 25rem;
}

.text-container h2 {
	margin: 0;
	font-size: 2.5rem;
	font-weight: 900;
}

.text-container p {
	font-weight: 450;
	line-height: 1.5rem;
	font-size: 1.15rem;
}

.text-container button {
	border: 2px solid black;
	border-radius: 7px;
	background-color: black;
	padding: 0.6rem;
	font-size: 1rem;
	font-weight: 450;
	font-family: "Montserrat", sans-serif;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.text-container button:hover {
	color: black;
	background-color: white;
}

/* ==========
	 Menu 
  ==========
*/

#food-slide-container {
	margin: auto;
	display: flex;
	position: relative;
	justify-content: center;
}

#prev-btn,
#next-btn {
	border: none;
	border-radius: 0.5rem;
	background: white;
	width: 4rem;
	height: 5rem;
	cursor: pointer;
	font-size: 3rem;
	line-height: 0;
	transition: 0.4s;
	box-shadow: 0px 18px 23px 4px rgb(0 0 0 / 16%);
	position: absolute;
	top: 30%;
	z-index: 2;
}

#prev-btn {
	left: 0;
}

#next-btn {
	right: 0;
}

#prev-btn:hover {
	transform: translateX(-10px);
}

#next-btn:hover {
	transform: translateX(10px);
}

#food-slide-container .food-images {
	object-fit: cover;
	width: 36rem;
	border-radius: 20px;
	height: 24rem;
	margin: 0px 2rem 0 2rem;
	box-shadow: 0px 18px 23px 4px rgba(0, 0, 0, 0.16);
	transition: all 0.5s;
}

.food-slide p {
	margin: 2rem auto;
	text-align: center;
	font-weight: 450;
	font-size: 1.15rem;
}

/* ==========
	Contact 
  ==========
*/

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact img {
	object-fit: cover;
	width: 43rem;
	border-radius: 20px;
	height: 14rem;
	margin: 0px 2rem 0 2rem;
	box-shadow: 0px 18px 23px 4px rgba(0, 0, 0, 0.16);
	transition: all 0.5s;
}

.contact img:hover {
	transform: scale(1.05);
}

.contact p {
	margin-top: 4rem;
	font-size: 1.15rem;
	font-weight: 450;
}

/* ==========
   Animation 
  ==========
*/

.animate-fading {
	animation: fading 1s;
}

@keyframes fading {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* ===========
   Responsive 
  ===========
*/

@media only screen and (max-width: 800px) {
	header {
		flex-direction: column;
	}

	ul {
		display: flex;
		justify-content: space-between;
		padding-top: 1.5rem;
	}

	li {
		margin: 0;
	}

	.main {
		flex-direction: column;
		margin-top: 0;
	}

	.home-sample {
		width: 85%;
		height: 14rem;
	}

	.text-container {
		width: 85%;
		margin-top: 2rem;
	}

	.text-container h2 {
		font-size: 2rem;
	}

	.text-container p {
		font-size: 1.1rem;
	}

	#food-slide-container {
		width: 100%;
		position: relative;
	}

	#food-slide-container .food-images {
		display: block;
		width: 85%;
		height: 25rem;
		margin: auto;
	}

	#food-slide-container .food-slide p {
		font-size: 1.1rem;
	}

	#prev-btn,
	#next-btn {
		width: 16%;
		height: 12%;
		position: absolute;
		top: 34%;
		line-height: 0;
		z-index: 2;
		background-color: white;
		border-radius: 0.5rem;
		box-shadow: 0px 18px 23px 4px rgba(0, 0, 0, 0.16);
	}

	#prev-btn {
		left: 2%;
	}

	#next-btn {
		left: 82%;
	}

	#prev-btn:hover,
	#next-btn:hover {
		transform: none;
	}

	#prev-btn:active,
	#next-btn:active {
		transform: scale(0.8);
	}

	.contact img {
		width: 85%;
	}

	.contact p {
		font-size: 1.1rem;
	}
}
